html, body {
    margin: 0px;
    padding: 0px;
}
.login-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    background-color: rgb(33,37,41);
    color: white;
    
}
#loginBtn{
    width: 250px;
    margin: 0px auto 0px auto;
}

.navBtns {
    margin: auto;
    height: 45px;
}

#userProfileImg {
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

#userProfileImg:active {
    transform: scale(.95);
}

#homeContainer {
    background-color: white;
    padding-bottom: 10px;
}
#homeProfileDiv {
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    align-content: space-around;
    padding-left: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#welcomeTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
#homeSavedArticles {
    text-align: center;
    color: white
}
.homeArticleDiv {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: .25rem;
}