.login-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    background-color: rgb(33,37,41);
    color: white;
    
}
#loginBtn{
    width: 250px;
    margin: 0px auto 0px auto;
}
#userProfileImg {
    border: none;
    border-radius: 100%;
}